@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container {
  @apply py-8 md:py-16;
}

.content-container {
  @apply max-w-7xl px-8 md:px-16 mx-auto;
}

h1,
h2,
h3 {
  font-family: "DM Serif Display";
}

h1 {
  @apply text-7xl md:text-7xl mb-12;
}

h2 {
  @apply text-3xl md:text-4xl;
}

h3 {
  @apply text-2xl font-semibold;
}

h4 {
  @apply mb-4;
}

h5 {
  @apply my-1;
}

p {
  @apply text-base mt-2 mb-6 leading-relaxed;
}

ul {
  @apply mb-6;
}

ul li {
  @apply text-lg list-disc list-inside;
}

dl dt {
  @apply mt-6 font-bold;
}

dl dd {
  @apply mb-6;
}

p a,
li a {
  @apply text-indigo-600 hover:text-indigo-700 hover:underline;
}

section {
  @apply my-12 md:my-24;
}

.section-header {
  @apply pb-8 lg:px-12;
}

.case-study {
  @apply bg-gray-100 rounded-2xl px-8 py-10 md:py-20 lg:py-8 flex flex-col h-full items-center justify-center text-center mb-6 lg:mb-0 transition-all shadow-xl hover:shadow-2xl;
}

.case-study.magic {
  background-image: linear-gradient(
    45deg,
    hsl(194deg 97% 54%) 0%,
    hsl(182deg 69% 57%) 9%,
    hsl(150deg 59% 74%) 18%,
    hsl(78deg 56% 80%) 27%,
    hsl(35deg 100% 83%) 36%,
    hsl(7deg 100% 80%) 45%,
    hsl(327deg 69% 69%) 55%,
    hsl(247deg 59% 65%) 64%,
    hsl(233deg 70% 65%) 73%,
    hsl(264deg 69% 70%) 82%,
    hsl(291deg 66% 71%) 91%,
    hsl(316deg 100% 78%) 100%
  );
  @apply text-black;
}

.case-study.galactic {
  @apply bg-[#2f2846] text-white;
}

.case-study.vsa,
.case-study.modest {
  @apply bg-gray-950 text-white;
}

.case-study.dscout {
  @apply bg-[#0b73eb] text-white;
}

.case-study.gravitytank {
  @apply bg-[#00a1e1] text-white;
}

.case-study.paypal {
  @apply bg-[#ffd140];
}

.case-study p {
  @apply text-base mb-0;
}

.skyteller-cover {
  background-image: url("/public/images/skyteller-background.png");
  @apply bg-contain shadow-2xl;
}

.skyteller-cover.focus {
  @apply mx-auto transition-all z-20;
}

.braintree-cover {
  background-image: url("/public/images/braintree-dashboard.gif");
  @apply bg-contain shadow-2xl bg-center bg-no-repeat;
}

.site-footer {
  @apply mt-8 md:mt-24 md:py-16 flex flex-col md:flex-row items-center justify-between text-center md:text-left;
}

.button {
  @apply bg-white rounded-xl px-8 py-3 flex items-center justify-center w-fit shadow-md hover:shadow-xl transition-shadow;
}

.section-divider {
  background-image: url("/public/images/curve-decoration.svg");
  @apply w-full h-24 bg-left-top bg-cover bg-no-repeat opacity-10;
}

.tags-list {
  @apply flex flex-wrap gap-4;
}

.tags-list li {
  @apply bg-white shadow-xl px-4 py-1 text-base rounded-lg list-none flex items-center justify-center text-center hover:drop-shadow-2xl drop-shadow-md;
}
