@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container {
  @apply py-8 md:py-16;
}

.content-container {
  @apply max-w-7xl px-8 md:px-16 mx-auto;
}

h1,
h2,
h3 {
  font-family: "DM Serif Display";
}

h1 {
  @apply text-7xl md:text-8xl mb-12;
}

h2 {
  @apply text-3xl md:text-4xl;
}

h3 {
  @apply text-2xl font-semibold;
}

h4 {
  @apply mb-4;
}

h5 {
  @apply my-1;
}

h6 {
  @apply italic;
}

p {
  @apply text-lg mt-2 mb-6 leading-relaxed;
}

ul {
  @apply mb-6;
}

ul li {
  @apply text-lg list-disc list-inside;
}

p a,
li a {
  @apply text-indigo-600 hover:text-indigo-700 hover:underline;
}

mark {
  @apply bg-indigo-100;
}

section {
  @apply my-12 md:my-24;
}

.section-header {
  @apply pb-8 lg:px-12;
}

.case-study {
  @apply bg-gray-100 rounded-2xl px-8 py-10 md:py-20 lg:py-8 flex flex-col h-full items-center justify-center text-center mb-6 lg:mb-0 transition-all shadow-xl hover:shadow-2xl;
}

.case-study p {
  @apply text-base mb-0;
}

.skyteller-cover {
  background-image: url("/public/images/skyteller-background.png");
  @apply bg-contain shadow-2xl;
}

.braintree-cover {
  background-image: url("/public/images/braintree-dashboard.gif");
  @apply bg-contain shadow-2xl bg-center bg-no-repeat;
}

.site-footer {
  @apply mt-8 md:mt-24 md:py-16 flex flex-col md:flex-row items-center justify-between text-center md:text-left;
}

.button {
  @apply bg-white rounded-xl px-8 py-3 flex items-center justify-center w-fit shadow-md hover:shadow-xl transition-shadow;
}

.section-divider {
  background-image: url("/public/images/curve-decoration.svg");
  @apply w-full h-24 bg-left-top bg-cover bg-no-repeat opacity-10;
}

.tags-list {
  @apply flex flex-wrap md:justify-center gap-4;
}

.tags-list li {
  @apply bg-white shadow-xl px-4 py-1 text-base rounded-lg list-none flex items-center justify-center text-center hover:drop-shadow-2xl drop-shadow-md;
}
