@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Work+Sans&display=swap");

body {
  background-image: linear-gradient(
    35deg,
    hsl(2deg 100% 93%) 0%,
    hsl(356deg 97% 93%) 21%,
    hsl(349deg 91% 93%) 30%,
    hsl(343deg 82% 93%) 39%,
    hsl(336deg 72% 93%) 46%,
    hsl(327deg 61% 93%) 54%,
    hsl(316deg 49% 93%) 61%,
    hsl(302deg 38% 93%) 69%,
    hsl(285deg 40% 94%) 79%,
    hsl(270deg 43% 95%) 100%
  );
  @apply bg-no-repeat bg-fixed;
  margin: 0;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* @media (prefers-color-scheme: dark) {
  body {
    background-image: linear-gradient(
      45deg,
      hsl(0deg 0% 9%) 0%,
      hsl(257deg 11% 11%) 11%,
      hsl(256deg 18% 14%) 22%,
      hsl(255deg 23% 17%) 33%,
      hsl(254deg 27% 19%) 44%,
      hsl(253deg 30% 22%) 56%,
      hsl(252deg 33% 25%) 67%,
      hsl(252deg 35% 27%) 78%,
      hsl(251deg 37% 30%) 89%,
      hsl(250deg 38% 33%) 100%
    );
    color: text-indigo-200;
  }
} */
